/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

html {
    height: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333333;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@import 'assets/stylesheets/layout.css';
@import 'assets/stylesheets/brewer.css';
