<div class="panel">
    <h1 class="panel__code">
        <i class="fa fa-location-arrow"></i> 404
    </h1>

    <h2 class="panel__title">Página não encontrada</h2>

    <div class="panel__description">
        Desculpe, a página que você tentou acessar não foi encontrada ou não
        existe mais. Verifique se a URL está correta ou entre em contato com
        a gente se precisar de ajuda.
        <br/><br/>
        <a pButton label="Voltar para onde estava" href="javascript:history.back();"></a>
    </div>
</div>
