<p-dialog header="Cadastro de Estilo" [(visible)]="showDialog" modal="modal" [responsive]="true" [width]="350" [minWidth]="200"
          #dialogo>
    <div class="container-fluid">
        <p-messages></p-messages>

        <form #form="ngForm" (ngSubmit)="salvar(form)">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 bw-required">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" pInputText [(ngModel)]="estilo.nome"
                           #nome="ngModel" required maxlength="20" autofocus>
                    <app-message [control]="nome" error="required"
                                 text="O nome é obrigatório."></app-message>
                    <app-message [control]="nome" error="maxlength"
                                 text="O tamanho do nome não pode ser maior que 20 caracteres."></app-message>
                </div>
            </div>

            <button pButton type="submit" class="bw-btn" label="Salvar"
                    [disabled]="form.invalid"></button>
        </form>
    </div>
</p-dialog>