.bw-tabela-cervejas__vazia {
    padding: 15px 15px;

    border: 1px dashed #dddddd;

    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    color: #555555;
}

.bw-tabela-cerveja-campo-quantidade {
    width: 30px;
    text-align: right;
}

.bw-tabela-cerveja-valor-pequeno {
    font-weight: 300;
    font-size: 1em;
}

.bw-tabela-cerveja-valor-grande {
    font-weight: 300;
    font-size: 1.6em;
}

.bw-tabela-item__painel-exclusao {
    position: absolute;
    top: 0;
    right: 100000px;
    height: 100%;
    width: 50%;

    text-align: center;
    padding-top: 35px;

    background-color: #f0ad4e;

    opacity: 0;
    transition: opacity 0.5s;
}

.solicitando-exclusao .bw-tabela-item__painel-exclusao {
    right: 0;
    opacity: 1;
}

.bw-tabela-item__titulo-exclusao {
    display: block;
    margin-bottom: 5px;

    color: #fff;
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .bw-tabela-item__painel-exclusao {
        width: 40%;
        padding-top: 10px;
    }
}